Appointment Scheduling AI_v.0.0.3 (If_Confrim_yes).json
{
  "name": "Appointment Scheduling AI_v.0.0.3 (If_Confrim_yes)",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "start": "={{ $json.startIso }}",
        "end": "={{ $json.endIso }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ \n  'Booked via v0.0.3\\n' +\n  'Name: ' + ($json.name || '') + '\\n' +\n  'Phone: ' + ($json.phone || '') + '\\n' +\n  'Email: ' + ($json.email || '') + '\\n' +\n  'Notes: ' + ($json.notes || '')\n}}",
          "summary": "={{ 'Appointment: ' + ($json.name || 'Guest') }}"
        }
      },
      "id": "4909f221-793e-41b8-94f1-cbc32af503e5",
      "name": "GCal (Book Event)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -384,
        -160
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0yByGfoje3gvnxgr",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b149636d-72f9-482a-babb-111d70b5e65c",
              "name": "result",
              "value": "booked",
              "type": "string"
            },
            {
              "id": "dab5bc6e-96fe-4109-a495-2cf03d2f3885",
              "name": "slot.start",
              "value": "={{$json[\"start\"][\"dateTime\"] ?? $json[\"start\"]}}",
              "type": "string"
            },
            {
              "id": "01311cbd-3d46-416d-8b28-0ed522a6a391",
              "name": "slot.end",
              "value": "={{$json[\"end\"][\"dateTime\"] ?? $json[\"end\"]}}",
              "type": "string"
            },
            {
              "id": "91983793-bfd8-473e-b0c8-d39ee6793abe",
              "name": "slot.timezone",
              "value": "={{$json[\"start\"][\"timeZone\"] ?? \"America/Chicago\"}}",
              "type": "string"
            },
            {
              "id": "cfc2162c-8471-4431-91b0-0e7cd34f203c",
              "name": "title",
              "value": "={{$json[\"summary\"]}}",
              "type": "string"
            },
            {
              "id": "431f1024-555c-468c-9872-1b62aa8bb085",
              "name": "bookingId",
              "value": "={{$json[\"id\"]}}",
              "type": "string"
            },
            {
              "id": "c7d6e19d-2902-484b-bd50-12c84b4d5415",
              "name": "calendarUrl",
              "value": "={{$json[\"htmlLink\"]}}",
              "type": "string"
            },
            {
              "id": "8b5e2580-d830-4622-87b1-a8b251b33e43",
              "name": "notes",
              "value": "={{$json[\"description\"] ?? \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        48
      ],
      "id": "c3b4ca48-8aa8-4555-91d1-8730ba705d53",
      "name": "Format tool result (BOOKED MAIN)"
    },
    {
      "parameters": {
        "jsCode": "// Normalize parent payload into simple booking fields for GCal\n\nconst it = $json;\n\nconst startIso =\n  it.startIso ??\n  it.start?.dateTime ?? // event-shaped payload\n  '';\n\nconst endIso =\n  it.endIso ??\n  it.end?.dateTime ??\n  '';\n\nconst tz =\n  it.tz ??\n  it.start?.timeZone ??\n  'America/Chicago';\n\nreturn [{\n  json: {\n    // carry-through for logging / Vapi reply\n    name: it.name ?? '',\n    email: it.email ?? '',\n    phone: it.phone ?? '',\n    notes: it.notes ?? it.description ?? '',\n\n    // normalized for booking\n    startIso,\n    endIso,\n    tz\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        32
      ],
      "id": "f0bffc8d-52d7-43be-8a06-1ce5cee5f1d3",
      "name": "one Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c675d129-40f1-467a-89a5-56fcb40e9ade",
              "leftValue": "={{$json.skipBooking}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        32
      ],
      "id": "48321f11-308a-4e63-afcc-17165a71cdbd",
      "name": "If"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        32
      ],
      "id": "1dce952a-3032-40c1-9f00-4e96e4a8a497",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Return the payload to the parent workflow\nreturn [{\n  json: {\n    result: $json.result || \"booked\",\n    slot: $json.slot,                 // {start, end, timezone}\n    title: $json.title,\n    bookingId: $json.bookingId,\n    calendarUrl: $json.calendarUrl,\n    notes: $json.notes || $json.description || \"\",\n    message: $json.reply || $json.successMessage || \"✅ Your appointment is booked!\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        48
      ],
      "id": "828a3382-1f22-474a-bf13-8e5ded708011",
      "name": "Return Payload"
    }
  ],
  "pinData": {},
  "connections": {
    "GCal (Book Event)": {
      "main": [
        [
          {
            "node": "Format tool result (BOOKED MAIN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format tool result (BOOKED MAIN)": {
      "main": [
        [
          {
            "node": "Return Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "one Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GCal (Book Event)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format tool result (BOOKED MAIN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "one Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "308a1a36-0a46-452d-8760-01a9e5ad3de6",
  "meta": {
    "instanceId": "00909d7feb8e9ba37a5e201aa76b7e43bb3e29d20ad98700fd8a52c9ea9d3d68"
  },
  "id": "KhDrCjGH7a3eTdKe",
  "tags": []
}