Appointment Scheduling AI_v.0.0.3_vapi_cancel.json
{
  "name": "Appointment Scheduling AI_v.0.0.3_vapi_cancel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi/cancel",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        0
      ],
      "id": "d54e2e0b-78b1-4392-95fd-0313a50de9eb",
      "name": "Webhook",
      "webhookId": "9912b6ee-3f83-4839-837c-2b55b6a70dd8"
    },
    {
      "parameters": {
        "jsCode": "const src = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst confirm = (src.confirm || \"\").toLowerCase();\nconst phone = (src.phone || \"\").trim();\nconst bookingId = (src.bookingId || \"\").trim();\n\nif (confirm !== \"yes\") {\n  return [{ json: { result: \"user_declined\", message: \"Say confirm:\\\"yes\\\" to cancel.\" } }];\n}\n\nif (!phone && !bookingId) {\n  return [{ json: { result: \"not_found\", message: \"Provide bookingId or phone to find the appointment.\" } }];\n}\n\nreturn [{ json: { phone, bookingId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        0
      ],
      "id": "90408eb4-a479-4aa7-906c-27274ab21129",
      "name": "Validate Cancel"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    result:\n      $json.result ??\n      (\n        ($json.status === 'already_deleted_or_not_found')\n          ? 'already_deleted_or_not_found'\n          : 'canceled'\n      ),\n    bookingId:\n      $json.bookingId ??\n      $json.id ??\n      $json.eventId ??\n      $json.event?.id ??\n      $json.parameters?.bookingId ??\n      $json.body?.bookingId ??\n      '',\n    message:\n      $json.message ??\n      (\n        ($json.status === 'already_deleted_or_not_found' || $json.result === 'already_deleted_or_not_found')\n          ? 'No active booking found (already canceled or not found).'\n          : 'Appointment canceled.'\n      )\n  }\n}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        16
      ],
      "id": "589d0636-ada3-4c58-96bf-0702ea87c93d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "returnAll": true,
        "timeMin": "",
        "timeMax": "",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -304,
        0
      ],
      "id": "021af235-20be-4ca2-9684-b348f52cc36e",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0yByGfoje3gvnxgr",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "eventId": "={{ $json.bookingId || $json.appointment?.id || $json.carry?.bookingId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        432,
        -112
      ],
      "id": "34f57614-626b-421e-9502-bec5bf42bab1",
      "name": "Delete an event",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0yByGfoje3gvnxgr",
          "name": "Google Calendar account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "856be298-1e69-4ebb-8c48-2b6cd9a2b8fe",
              "leftValue": "={{ !!(\n  $json.bookingId ||\n  $json.appointment?.id ||\n  $json.carry?.bookingId ||\n  $json.body?.bookingId ||\n  $json.parameters?.bookingId\n) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        0
      ],
      "id": "8e0fbb9b-9498-49ab-91d5-c2d3873117bc",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Always return a clean cancel result (idempotent)\nconst id =\n  $json.id ||\n  $json.eventId ||\n  $item(0).$node[\"Validate Cancel\"]?.json?.bookingId ||\n  $json.bookingId || \"\";\n\nconst hadError = !!$json.error || /invalid|deleted|not\\s*found|gone/i.test(JSON.stringify($json));\n\nreturn [{\n  json: {\n    result: \"canceled\",\n    status: hadError ? \"already_deleted_or_not_found\" : \"deleted\",\n    bookingId: id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -112
      ],
      "id": "3717029b-83ff-4024-967c-02aae7845591",
      "name": "Code (OK)"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      result: $json.result ?? 'not_found',\n      bookingId:\n        $json.bookingId ??\n        $json.id ??\n        $json.eventId ??\n        $json.event?.id ??\n        $json.parameters?.bookingId ??\n        $json.body?.bookingId ??\n        '',\n      message:\n        $json.message ?? 'No appointment found for that phone or bookingId.'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        96
      ],
      "id": "00a7d426-27f8-4e48-9b1b-665f8990c374",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Events array from GCal \"Get many events\"\nconst events = $input.all().map(i => i.json);\n\n// Get phone and bookingId from Validate Cancel node\nconst validateNode = $item(0).$node[\"Validate Cancel\"]?.json || {};\nconst phoneRaw = validateNode.phone || \"\";\nconst bookingId = validateNode.bookingId || \"\";\n\nconst phoneDigits = (phoneRaw.match(/\\d/g) || []).join(\"\"); // keep only digits\nconst last10 = phoneDigits.slice(-10);\nconst last7 = phoneDigits.slice(-7);\n\nconsole.log(\"Phone raw:\", phoneRaw);\nconsole.log(\"Phone digits:\", phoneDigits);\nconsole.log(\"Booking ID:\", bookingId);\nconsole.log(\"Total events:\", events.length);\n\n// Helper to build debug object\nconst buildDebug = () => ({\n  phoneRaw,\n  phoneDigits,\n  bookingId: bookingId || undefined\n});\n\n// Helper to build carry object\nconst buildCarry = (hasMatch = false) => {\n  const carry = {};\n  \n  // Only set \"need\" if we don't have a match yet\n  if (!hasMatch && (!phoneDigits || phoneDigits.length < 7)) {\n    carry.need = \"phone\";\n  } else if (phoneDigits && phoneDigits.length >= 7) {\n    carry.phone = phoneDigits;\n  }\n  \n  if (bookingId) {\n    carry.bookingId = bookingId;\n  }\n  \n  return carry;\n};\n\n// Helper: parse start date\nconst sDate = e => {\n  const startTime = e.start?.dateTime || e.start?.date || 0;\n  return new Date(startTime).getTime() || 0;\n};\n\nconst now = Date.now();\n\n// Build a searchable text blob for each event\nconst bucket = e => {\n  const parts = [\n    e.summary || \"\",\n    e.description || \"\",\n    e.location || \"\",\n    e.hangoutLink || \"\",\n    e.htmlLink || \"\",\n    e.organizer?.email || \"\",\n    e.creator?.email || \"\"\n  ];\n  \n  // Add attendees\n  if (e.attendees && Array.isArray(e.attendees)) {\n    e.attendees.forEach(a => {\n      parts.push(a.email || \"\");\n      parts.push(a.displayName || \"\");\n    });\n  }\n  \n  return parts.join(\" \").toLowerCase();\n};\n\n// Convert a blob to just digits (for phone comparisons)\nconst digits = txt => (txt.match(/\\d/g) || []).join(\"\");\n\n// Match rule for phone: full digits OR last10 OR last7 anywhere in the event text\nconst matchesPhone = e => {\n  if (!phoneDigits || phoneDigits.length < 7) return false;\n  \n  const eventText = bucket(e);\n  const eventDigits = digits(eventText);\n  \n  const fullMatch = phoneDigits && eventDigits.includes(phoneDigits);\n  const last10Match = last10 && eventDigits.includes(last10);\n  const last7Match = last7 && eventDigits.includes(last7);\n  \n  return fullMatch || last10Match || last7Match;\n};\n\n// Match rule for bookingId: check Google Calendar identifiers AND text blob\nconst matchesBookingId = e => {\n  if (!bookingId) return false;\n  \n  // Check actual Google Calendar identifiers first\n  if (e.id === bookingId || e.iCalUID === bookingId) {\n    return true;\n  }\n  \n  // Also check if bookingId appears in the text (description, etc.)\n  const eventText = bucket(e);\n  return eventText.includes(bookingId.toLowerCase());\n};\n\n// Helper to format appointment\nconst formatAppointment = e => {\n  return {\n    id: e.id,\n    start: (e.start?.dateTime || e.start?.date || \"\").split(/[+-]\\d{2}:\\d{2}/)[0],\n    end: (e.end?.dateTime || e.end?.date || \"\").split(/[+-]\\d{2}:\\d{2}/)[0],\n    timezone: e.start?.timeZone || \"America/Chicago\",\n    summary: e.summary || \"\"\n  };\n};\n\n// Try matching by bookingId first (more specific)\nlet pool = [];\nlet matchMethod = \"\";\n\nif (bookingId) {\n  pool = events.filter(matchesBookingId);\n  if (pool.length > 0) {\n    matchMethod = \"bookingId\";\n    console.log(`Matched ${pool.length} events by bookingId`);\n  }\n}\n\n// If no bookingId match, try phone\nif (pool.length === 0 && phoneDigits && phoneDigits.length >= 7) {\n  pool = events.filter(matchesPhone);\n  if (pool.length > 0) {\n    matchMethod = \"phone\";\n  }\n}\n\n// If still no matches and no valid identifiers, ask for phone\nif (pool.length === 0 && (!phoneDigits || phoneDigits.length < 7) && !bookingId) {\n  return [{\n    json: {\n      result: \"need_phone\",\n      message: \"I don't have your phone number yet. What number did you use to book?\",\n      carry: buildCarry(),\n      debug: { ...buildDebug(), matchedBy: matchMethod }\n    }\n  }];\n}\n\n// Prefer upcoming among matches\nif (pool.length > 0) {\n  const upcoming = pool.filter(e => sDate(e) >= now);\n  if (upcoming.length > 0) {\n    pool = upcoming;\n  }\n}\n\n// Handle results based on number of matches\nif (pool.length === 0) {\n  return [{\n    json: {\n      result: \"not_found\",\n      message: \"No appointment found for that phone or booking ID.\",\n      carry: buildCarry(),\n      debug: { ...buildDebug(), matchedBy: matchMethod }\n    }\n  }];\n}\n\nif (pool.length === 1) {\n  return [{\n    json: {\n      result: \"appointment_found\",\n      appointment: formatAppointment(pool[0]),\n      carry: buildCarry(true), // Pass true to indicate we found a match\n      debug: { ...buildDebug(), matchedBy: matchMethod }\n    }\n  }];\n}\n\n// Multiple matches - sort by start time\npool.sort((a, b) => sDate(a) - sDate(b));\n\nreturn [{\n  json: {\n    result: \"multiple_found\",\n    appointments: pool.map(formatAppointment),\n    carry: buildCarry(),\n    debug: { ...buildDebug(), matchedBy: matchMethod }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        0
      ],
      "id": "1b1477b7-d097-4ee5-91fe-97785685219a",
      "name": "code"
    },
    {
      "parameters": {
        "jsCode": "// Hoist bookingId to root so the IF can see it\nconst b =\n  $json.bookingId ??\n  $json.appointment?.id ??\n  $json.carry?.bookingId ??\n  $json.body?.bookingId ??\n  $json.parameters?.bookingId ??\n  '';\n\nreturn [\n  {\n    json: {\n      ...$json,\n      bookingId: b\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "952d71ae-a8a4-427b-ac37-277aa00135fb",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Cancel": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Code (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (OK)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41ac3f57-9fc5-49f9-bfed-5958092bd0a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00909d7feb8e9ba37a5e201aa76b7e43bb3e29d20ad98700fd8a52c9ea9d3d68"
  },
  "id": "DbNI9pwp1sSREeTj",
  "tags": []
}