Appointment Scheduling AI_v.0.0.3_vapi_reschedule.json
{
  "name": "Appointment Scheduling AI_v.0.0.3_vapi_reschedule",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi/reschedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        -32
      ],
      "id": "6836f8af-01cd-42a2-9d12-ec9d695ce994",
      "name": "Webhook",
      "webhookId": "59119106-54d5-46a0-adb5-f2276685082f"
    },
    {
      "parameters": {
        "jsCode": "// Decide Reschedule Phase (init vs commit)\n// Allows the endpoint to be called with only bookingId from recovery links.\n// If time fields are missing, return a 200 JSON telling the client to collect time.\n\n// ---- read body safely ----\nconst b = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\n\n// Inputs (whatever the caller sent)\nconst bookingId   = String(b.bookingId || '').trim();\nconst phone       = String(b.phone || '').trim();\nconst timezone    = String(b.timezone || 'America/Chicago').trim();\n\n// Optional time fields (may be missing on first click)\nconst newStartIso = b.newStartIso ? String(b.newStartIso).trim() : '';\nconst newEndIso   = b.newEndIso ? String(b.newEndIso).trim()   : '';\n\n// Optional passthrough (kept if present; harmless if not)\nconst carry = (b.carry && typeof b.carry === 'object') ? b.carry : {};\n\n// ---- small helpers (non-breaking) ----\nconst isIso = (s) => typeof s === 'string' && /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+\\-]\\d{2}:\\d{2})$/.test(s);\nconst toMs  = (s) => { try { return Date.parse(s); } catch { return NaN; } };\n\n// ---- required: bookingId ----\nif (!bookingId) {\n  return [{\n    json: {\n      result: 'error',\n      error: 'missing_bookingId',\n      message: 'bookingId is required'\n    }\n  }];\n}\n\n// ---- PHASE A: INIT (your original logic preserved) ----\nif (!newStartIso || !newEndIso) {\n  return [{\n    json: {\n      phase: 'init',\n      result: 'need_time',\n      message: 'Please choose a new time for your appointment.',\n      bookingId,\n      phone,\n      timezone,\n      carry\n      // (UI/agent can now ask user for newStartIso/newEndIso and POST again)\n    }\n  }];\n}\n\n// ---- non-breaking validations for commit ----\nif (!isIso(newStartIso) || !isIso(newEndIso)) {\n  return [{\n    json: {\n      phase: 'init',\n      result: 'need_time',\n      message: 'The provided time is not valid ISO (e.g., 2025-11-06T10:00:00-06:00). Please pick a new time.',\n      bookingId,\n      phone,\n      timezone,\n      invalid: { newStartIso, newEndIso },\n      carry\n    }\n  }];\n}\n\nconst tStart = toMs(newStartIso);\nconst tEnd   = toMs(newEndIso);\n\nif (!Number.isFinite(tStart) || !Number.isFinite(tEnd) || tEnd <= tStart) {\n  return [{\n    json: {\n      phase: 'init',\n      result: 'need_time',\n      message: 'End time must be after start time.',\n      bookingId,\n      phone,\n      timezone,\n      invalid: { newStartIso, newEndIso },\n      carry\n    }\n  }];\n}\n\n// ---- PHASE B: COMMIT (your original logic preserved) ----\nreturn [{\n  json: {\n    phase: 'commit',\n    result: 'ok',\n    bookingId,\n    phone,\n    timezone,\n    newStartIso,\n    newEndIso,\n    carry\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -32
      ],
      "id": "94eddc3f-5f61-4adb-882e-235505a836cf",
      "name": "Validate Request"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "eventId": "={{ $json.bookingId || $item(0).$node[\"Get an event\"].json.id }}",
        "useDefaultReminders": false,
        "updateFields": {
          "description": "={{ ($json.found.description || \"\") + \"\\nRescheduled via Vapi on \" + new Date().toISOString() }}\n",
          "end": "={{ $json.newEndIso }}",
          "start": "={{ $json.newStartIso }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        160,
        -160
      ],
      "id": "634292ae-ed33-41b8-a069-f32b25c4ee08",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0yByGfoje3gvnxgr",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: the Google Calendar \"Update an event\" node output as $json\n// Output: a single item shaped for the Vapi tool response\n\nconst ev = $json;\n\n// Safely read fields\nconst title       = ev.summary || \"Consultation\";\nconst bookingId   = ev.id;\nconst calendarUrl = ev.htmlLink || \"\";\nconst notes       = ev.description || \"\";\n\n// Start/end come from the updated event\nconst startIso = ev.start?.dateTime || ev.start?.date || \"\";\nconst endIso   = ev.end?.dateTime   || ev.end?.date   || \"\";\n\n// Prefer the event's timezone if present; fallback to America/Chicago\nconst tz = ev.start?.timeZone || \"America/Chicago\";\n\nconst out = {\n  result: \"rescheduled\",\n  slot: {\n    start: startIso,\n    end:   endIso,\n    timezone: tz,\n  },\n  title,\n  bookingId,\n  calendarUrl,\n  notes,\n};\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -160
      ],
      "id": "80baf6ab-6a33-4088-aea3-c9aa4eeee167",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "102dae00-f36e-4ca8-82aa-b42f22ff7e84",
              "leftValue": "={{ $json.phase }}",
              "rightValue": "commit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -32
      ],
      "id": "982a409d-f9cb-4850-88f7-582b0da9fa43",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  result: 'need_time',\n  message: $json.message || 'Please choose a new time for your appointment.',\n  bookingId: $json.bookingId,\n  phone: $json.phone,\n  timezone: $json.timezone,\n  need: ['newStartIso','newEndIso']\n} }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        240,
        64
      ],
      "id": "fee91e90-a316-4d61-9670-9328b48c5966",
      "name": "Respond (init)"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    endpoint: 'vapi/reschedule',\n    phase: 'init',\n    result: 'need_time',\n    message: 'Please choose a new time for your appointment.',\n    bookingId: $json.bookingId,\n    phone: $json.phone,\n    timezone: $json.timezone\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        64
      ],
      "id": "ce8fffb0-1203-400f-8f4d-4f371030bd2a",
      "name": "Respond (init)1"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "eventId": "={{ $json.bookingId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -48,
        -160
      ],
      "id": "9d0723db-46a5-47e2-aed0-627899df5cf6",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0yByGfoje3gvnxgr",
          "name": "Google Calendar account 4"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "polarmedia.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "content-length": "182",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "49.37.145.102",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "99a3493c3354281e-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "49.37.145.102, 172.69.166.92",
            "x-forwarded-host": "polarmedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-7959cfc789-rqqrl",
            "x-is-trusted": "yes",
            "x-real-ip": "49.37.145.102"
          },
          "params": {},
          "query": {},
          "body": {
            "bookingId": "53g2jh682fifo1cq5f7q437qh5",
            "newStartIso": "2025-11-07T10:00:00-06:00",
            "newEndIso": "2025-11-07T10:30:00-06:00",
            "timezone": "America/Chicago"
          },
          "webhookUrl": "https://polarmedia.app.n8n.cloud/webhook/vapi/reschedule",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (init)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond (init)1": {
      "main": [
        [
          {
            "node": "Respond (init)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d4ce041-976f-442e-95e9-92fdf8e48a93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00909d7feb8e9ba37a5e201aa76b7e43bb3e29d20ad98700fd8a52c9ea9d3d68"
  },
  "id": "nuXKFzmpf0wHrcad",
  "tags": []
}