Appointment_scheduler/Appointment Scheduling AI_v.0.0.3_vapi_lookup.json
{
  "name": "Appointment Scheduling AI_v.0.0.3_vapi_lookup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-lookup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -16
      ],
      "id": "1ed43678-6e84-450b-987a-0e75a9eb269b",
      "name": "Vapi Lookup (in)",
      "webhookId": "fdab012d-7bb9-4afc-b28e-c4b3347ce7c1"
    },
    {
      "parameters": {
        "jsCode": "// --- unwrap inbound ---\nconst root = $json || {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : {};\nconst msg  = (body.message && typeof body.message === 'object') ? body.message : {};\n\n// get toolCallId for wrapper later\nconst callId =\n  msg?.toolCalls?.[0]?.id ||\n  msg?.toolCallList?.[0]?.id ||\n  \"\";\n\n// pull the first tool call's arguments (string or object)\nlet args =\n  msg?.toolCalls?.[0]?.function?.arguments ??\n  msg?.toolCallList?.[0]?.function?.arguments ?? {};\n\nif (typeof args === 'string') {\n  try { args = JSON.parse(args); } catch { args = {}; }\n}\n\n// normalize phone\nfunction normPhone(raw) {\n  const s = String(raw || \"\");\n  const digits = (s.match(/\\d/g) || []).join(\"\");\n  const last10 = digits.slice(-10);\n  const last7  = digits.slice(-7);\n  const e164   = digits ? (\"+\" + digits) : \"\";\n  return { raw: s, digits, last10, last7, e164, valid: !!digits };\n}\n\nconst phoneIn =\n  args.phone ??\n  body.phone ??\n  root.phone ?? \"\";\n\nconst p = normPhone(phoneIn);\n\n// choose bookingId from any likely place\nconst bookingId =\n  args.bookingId ??\n  body.bookingId ??\n  root.bookingId ??\n  \"\";\n\n// pass through email if present for fallback search\nconst email =\n  args.email ??\n  body.email ??\n  root.email ?? \"\";\n\n// build normalized output\nreturn [{\n  json: {\n    // keep original for debugging if you like\n    // original: root,\n\n    callId,\n    phone: p.e164,\n    phoneDigits: p.digits,\n    phoneValid: p.valid,\n    debug: {\n      phoneRaw: p.raw,\n      phoneE164: p.e164,\n      last10: p.last10,\n      last7: p.last7\n    },\n\n    bookingId,\n    email\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -16
      ],
      "id": "12028ae9-e61c-49db-94fe-b26a69939279",
      "name": "Normalize Lookup"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ new Date(Date.now() - 1000*60*60*24*365).toISOString() }}",
        "timeMax": "={{ new Date(Date.now() + 1000*60*60*24*180).toISOString() }}",
        "options": {
          "orderBy": "startTime",
          "showDeleted": false,
          "updatedMin": "="
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        160,
        0
      ],
      "id": "cba67ed8-893d-400b-a78e-699dd81138b5",
      "name": "List Events (Lookup Window)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0yByGfoje3gvnxgr",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Match (Lookup) — v3\n * - Supports bookingId → phone (full/last10) → name fallback\n * - Prefers upcoming in-window events\n * - Emits one result item in your existing contract:\n *   need_phone | not_found | appointment_found | multiple_found\n */\n\n// ---------- Read normalized context ----------\nconst norm = $item(0).$node[\"Normalize Lookup\"]?.json ?? {};\nconst bookingId   = String(norm.bookingId || \"\").trim();\nconst inPhone     = String(norm.phone || norm.phoneDigits || \"\").trim();\nconst inName      = String(norm.name  || \"\").trim().toLowerCase();\n\n// Derive phone digit variants\nconst phoneDigits = (inPhone.match(/\\d/g) || []).join(\"\");\nconst last10      = phoneDigits.slice(-10);\n\n// ---------- Helpers ----------\nconst nowMs = Date.now();\n\nconst bucket = (e) => {\n  const parts = [\n    e.summary || \"\",\n    e.description || \"\",\n    e.location || \"\",\n    e.hangoutLink || \"\",\n    e.htmlLink || \"\",\n    e.organizer?.email || \"\",\n    e.creator?.email || \"\"\n  ];\n  if (Array.isArray(e.attendees)) {\n    for (const a of e.attendees) parts.push(a.email || \"\", a.displayName || \"\");\n  }\n  return parts.join(\" \").toLowerCase();\n};\n\nconst digitsOf = (txt) => (String(txt).match(/\\d/g) || []).join(\"\");\n\nconst eventStartIso = (e) => e.start?.dateTime || e.start?.date || \"\";\nconst eventEndIso   = (e) => e.end?.dateTime   || e.end?.date   || \"\";\nconst eventStartMs  = (e) => {\n  const iso = eventStartIso(e);\n  const t = new Date(iso).getTime();\n  return Number.isFinite(t) ? t : 0;\n};\n\nconst fmt = (e) => ({\n  id: e.id,\n  start: eventStartIso(e),\n  end:   eventEndIso(e),\n  timezone: e.start?.timeZone || e.end?.timeZone || \"America/Chicago\",\n  summary: e.summary || \"\"\n});\n\n// ---------- Matchers ----------\nconst matchesBookingId = (e) => {\n  if (!bookingId) return false;\n  const bid = bookingId.toLowerCase();\n  if (String(e.id || \"\").toLowerCase() === bid) return true;\n  if (String(e.iCalUID || \"\").toLowerCase() === bid) return true;\n  return (e.description || \"\").toLowerCase().includes(bid);\n};\n\nconst matchesPhone = (e) => {\n  if (!phoneDigits || phoneDigits.length < 7) return false;\n  const text = bucket(e);\n  const evDigits = digitsOf(text);\n  // strict full, then last10 fallback\n  if (phoneDigits && evDigits.includes(phoneDigits)) return true;\n  if (last10.length === 10 && evDigits.includes(last10)) return true;\n  return false;\n};\n\nconst matchesName = (e) => {\n  if (!inName) return false;\n  return bucket(e).includes(inName);\n};\n\n// ---------- Collect events from previous node ----------\nlet events = $input.all().map(i => i.json);\n\n// ---------- Selection pipeline: bookingId → phone → name ----------\nlet matched = [];\nlet matchedBy = \"\";\n\nif (bookingId) {\n  matched = events.filter(matchesBookingId);\n  if (matched.length) matchedBy = \"bookingId\";\n}\n\nif (!matched.length && phoneDigits.length >= 7) {\n  matched = events.filter(matchesPhone);\n  if (matched.length) matchedBy = \"phone\";\n}\n\n// Fallback to name (handles titles like \"Appointment: Jay, 2:30\")\nif (!matched.length && inName) {\n  matched = events.filter(matchesName);\n  if (matched.length) matchedBy = \"name\";\n}\n\n// Ask for phone if we have nothing to go on\nif (!matched.length && !bookingId && phoneDigits.length < 7 && !inName) {\n  return [{\n    json: {\n      result: \"need_phone\",\n      message: \"I don't have your phone number yet. What number did you use to book?\",\n      carry: { need: \"phone\" },\n      debug: { bookingId, phoneDigits, inName, matchedBy: \"\" }\n    }\n  }];\n}\n\n// Prefer upcoming in the current window\nif (matched.length) {\n  const upcoming = matched.filter(e => eventStartMs(e) >= nowMs);\n  if (upcoming.length) matched = upcoming;\n}\n\n// ---------- Emit in your contract ----------\nif (!matched.length) {\n  return [{\n    json: {\n      result: \"not_found\",\n      message: \"No appointment found for that phone, name, or booking ID.\",\n      carry: {\n        ...(phoneDigits ? { phone: phoneDigits } : {}),\n        ...(inName ? { name: inName } : {}),\n        ...(bookingId ? { bookingId } : {})\n      },\n      debug: { bookingId, phoneDigits, inName, matchedBy: \"\" }\n    }\n  }];\n}\n\nif (matched.length === 1) {\n  return [{\n    json: {\n      result: \"appointment_found\",\n      matchedBy,\n      appointment: fmt(matched[0]),\n      carry: {\n        ...(phoneDigits ? { phone: phoneDigits } : {}),\n        ...(inName ? { name: inName } : {}),\n        ...(bookingId ? { bookingId } : {})\n      },\n      debug: { bookingId, phoneDigits, inName }\n    }\n  }];\n}\n\n// Multiple → sort by start and return all formatted\nmatched.sort((a, b) => eventStartMs(a) - eventStartMs(b));\nreturn [{\n  json: {\n    result: \"multiple_found\",\n    matchedBy,\n    appointments: matched.map(fmt),\n    carry: {\n      ...(phoneDigits ? { phone: phoneDigits } : {}),\n      ...(inName ? { name: inName } : {}),\n      ...(bookingId ? { bookingId } : {})\n    },\n    debug: { bookingId, phoneDigits, inName }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "5e765ed4-d5e0-4c05-9a7b-3a0788911797",
      "name": "Match (Lookup)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$item(0).$json}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        -96
      ],
      "id": "364a43e8-34f9-41aa-a9a8-5a1d97867677",
      "name": "Respond (Lookup)"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "eventId": "={{ $item(0).$node[\"Normalize Lookup\"].json.bookingId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -224,
        -208
      ],
      "id": "46ace0c2-6530-4c01-83be-ce2cf00a8b91",
      "name": "Get Event (by ID)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0yByGfoje3gvnxgr",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac299899-cf7c-49b3-a7e4-d9970104454c",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        -208
      ],
      "id": "0f1e24b4-6c94-4319-a8f2-239a74adeae6",
      "name": "If Found by ID"
    },
    {
      "parameters": {
        "jsCode": "const e = $json;\n\n// Preserve ISO offsets; prefer dateTime, fallback to all-day date\nconst fmt = {\n  id: e.id,\n  start: e.start?.dateTime || e.start?.date || \"\",\n  end:   e.end?.dateTime   || e.end?.date   || \"\",\n  timezone: e.start?.timeZone || e.end?.timeZone || \"America/Chicago\",\n  summary: e.summary || \"\"\n};\n\nconst norm = $item(0).$node[\"Normalize Lookup\"]?.json ?? {};\n\nreturn [{\n  json: {\n    result: \"appointment_found\",\n    appointment: fmt,\n    carry: {\n      ...(norm.phoneDigits?.length >= 7 ? { phone: norm.phoneDigits } : {}),\n      ...(norm.bookingId ? { bookingId: norm.bookingId } : {})\n    },\n    debug: { bookingId: norm.bookingId, phoneDigits: norm.phoneDigits, matchedBy: \"bookingId\" }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -224
      ],
      "id": "725b6f7c-2de2-4156-8be9-b554eebf73e8",
      "name": "Return appointment_found (by ID)"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PHONE NORMALIZATION FUNCTION (v2.0)\n// ============================================\nfunction normalizePhone(raw, defaultCountry = 'US') {\n  if (!raw || typeof raw !== 'string') {\n    return {\n      e164: '',\n      digits: '',\n      isValid: false,\n      error: 'Phone number is required'\n    };\n  }\n\n  let cleaned = raw.trim();\n  const hasPlus = cleaned.startsWith('+');\n  const digits = cleaned.replace(/\\D/g, '');\n\n  if (digits.length < 7) {\n    return {\n      e164: '',\n      digits: digits,\n      isValid: false,\n      error: 'Phone number too short (minimum 7 digits)'\n    };\n  }\n\n  // Already has country code\n  if (hasPlus) {\n    const e164 = '+' + digits;\n    if (digits.length > 15) {\n      return {\n        e164: e164,\n        digits: digits,\n        isValid: false,\n        error: 'Phone number too long (max 15 digits)'\n      };\n    }\n    return {\n      e164: e164,\n      digits: digits,\n      isValid: true,\n      countryCode: digits.substring(0, digits.length >= 11 ? 2 : 1)\n    };\n  }\n\n  // Apply default country code\n  let e164;\n  \n  if (defaultCountry === 'US' || defaultCountry === 'CA') {\n    if (digits.length === 10) {\n      e164 = '+1' + digits;\n    } else if (digits.length === 11 && digits[0] === '1') {\n      e164 = '+' + digits;\n    } else {\n      return {\n        e164: '',\n        digits: digits,\n        isValid: false,\n        error: `US/CA numbers must be 10 or 11 digits (got ${digits.length})`\n      };\n    }\n  } else if (defaultCountry === 'IN') {\n    if (digits.length === 10) {\n      e164 = '+91' + digits;\n    } else if (digits.length === 12 && digits.startsWith('91')) {\n      e164 = '+' + digits;\n    } else {\n      return {\n        e164: '',\n        digits: digits,\n        isValid: false,\n        error: `Indian numbers must be 10 digits (got ${digits.length})`\n      };\n    }\n  } else {\n    return {\n      e164: '',\n      digits: digits,\n      isValid: false,\n      error: 'Phone must include country code (e.g., +1 for US)'\n    };\n  }\n\n  return {\n    e164: e164,\n    digits: e164.substring(1),\n    isValid: true,\n    countryCode: e164.substring(1, e164.length >= 12 ? 3 : 2)\n  };\n}\n\n// ============================================\n// GET PHONE FROM VARIOUS SOURCES\n// ============================================\nconst phoneRaw =\n  $json.phone ??\n  $json.body?.phone ??\n  $json.body?.caller?.phone ??\n  $json.body?.caller?.number ??\n  $json.caller?.phone ??\n  $json.caller?.number ??\n  $json.from ??\n  $json.body?.From ??\n  $json.body?.from ??\n  '';\n\n// ============================================\n// NORMALIZE AND VALIDATE\n// ============================================\nconst normalized = normalizePhone(phoneRaw, 'US'); // 👈 Change 'US' to 'IN' if you're in India\n\n// If phone was provided but invalid, return error\nif (phoneRaw && !normalized.isValid) {\n  return [{\n    json: {\n      result: 'invalid_phone',\n      error: normalized.error,\n      message: 'Please provide a valid phone number.',\n      providedPhone: phoneRaw\n    }\n  }];\n}\n\n// ============================================\n// OUTPUT\n// ============================================\nreturn [{\n  json: {\n    ...$json,\n    phone: normalized.e164 || '',\n    phoneDigits: normalized.digits || '',\n    phoneValid: normalized.isValid,\n    phoneCountryCode: normalized.countryCode || null,\n    debug: {\n      ...($json.debug || {}),\n      phoneRaw: phoneRaw || '',\n      phoneE164: normalized.e164,\n      phoneError: normalized.error || null\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -16
      ],
      "id": "0628bd66-3b28-431d-ab47-30148abf8902",
      "name": "Gaurdrails"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c835d12-4fe1-4cec-94cd-2e2c876570d3",
              "leftValue": "={{ !!$json.bookingId }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -16
      ],
      "id": "0931e50b-adbe-431a-bbb2-d95a958dbb4c",
      "name": "Has bookingId?"
    },
    {
      "parameters": {
        "jsCode": " // 1) Get toolCallId safely\n  let callId = '';\n\n  // First try to get callId from upstream\n  if ($json.callId) {\n    callId = $json.callId;\n  }\n\n  // Fallback: read from the original webhook item\n  if (!callId) {\n    try {\n      const webhookItems = $items('Vapi Lookup (in)', 0, 0);\n      if (webhookItems && webhookItems[0] && webhookItems[0].json) {\n        const wh = webhookItems[0].json;\n        if (wh.body && wh.body.message) {\n          if (wh.body.message.toolCalls && wh.body.message.toolCalls[0]) {\n            callId = wh.body.message.toolCalls[0].id || '';\n          } else if (wh.body.message.toolCallList &&\n  wh.body.message.toolCallList[0]) {\n            callId = wh.body.message.toolCallList[0].id || '';\n          }\n        }\n      }\n    } catch (e) {\n      callId = '';\n    }\n  }\n\n  // 2) Upstream payload (whatever Match/Return produced)\n  const src = Array.isArray($json) ? $json[0] : $json;\n\n  // 3) Minimal normalization\n  let norm = {};\n  for (let key in src) {\n    norm[key] = src[key];\n  }\n\n  // Add result field if missing\n  if (!norm.result) {\n    if (norm.bookingId) {\n      norm.result = 'found';\n    } else if (norm.need_phone || (norm.carry && norm.carry.need ===\n  'phone')) {\n      norm.result = 'need_phone';\n      if (!norm.message) {\n        norm.message = 'What phone number did you use to book?';\n      }\n    } else if (norm.need_email || (norm.carry && norm.carry.need ===\n  'email')) {\n      norm.result = 'need_email';\n      if (!norm.message) {\n        norm.message = 'What email did you use to book?';\n      }\n    } else {\n      norm.result = 'not_found';\n      if (!norm.message) {\n        norm.message = 'No appointment found for that phone or bookingId.';\n      }\n    }\n  }\n\n  const isErr = norm.result === 'error' || (norm.error ? true : false);\n\n  // 4) Emit the Vapi envelope (stringify the payload)\n  const responseKey = isErr ? 'error' : 'result';\n  const response = {};\n  response.toolCallId = callId;\n  response[responseKey] = JSON.stringify(norm);\n\n  return [{\n    json: {\n      results: [response]\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -96
      ],
      "id": "47666a3d-2134-4621-898a-acbf481ca11c",
      "name": "Vapi Wrapper (Lookup)"
    },
    {
      "parameters": {
        "jsCode": " // --- unwrap inbound ---\n  const root = $json || {};\n  const body = (root.body && typeof root.body === 'object') ? root.body :\n  {};\n  const msg  = (body.message && typeof body.message === 'object') ?\n  body.message : {};\n\n  // get toolCallId for wrapper later\n  let callId = \"\";\n  if (msg.toolCalls && msg.toolCalls[0] && msg.toolCalls[0].id) {\n    callId = msg.toolCalls[0].id;\n  } else if (msg.toolCallList && msg.toolCallList[0] &&\n  msg.toolCallList[0].id) {\n    callId = msg.toolCallList[0].id;\n  }\n\n  // pull the first tool call's arguments (string or object)\n  let args = {};\n  if (msg.toolCalls && msg.toolCalls[0] && msg.toolCalls[0].function &&\n  msg.toolCalls[0].function.arguments) {\n    args = msg.toolCalls[0].function.arguments;\n  } else if (msg.toolCallList && msg.toolCallList[0] &&\n  msg.toolCallList[0].function && msg.toolCallList[0].function.arguments) {\n    args = msg.toolCallList[0].function.arguments;\n  }\n\n  if (typeof args === 'string') {\n    try {\n      args = JSON.parse(args);\n    } catch (e) {\n      args = {};\n    }\n  }\n\n  // normalize phone\n  function normPhone(raw) {\n    const s = String(raw || \"\");\n    const digits = (s.match(/\\d/g) || []).join(\"\");\n    const last10 = digits.slice(-10);\n    const last7  = digits.slice(-7);\n    const e164   = digits ? (\"+\" + digits) : \"\";\n    return { raw: s, digits: digits, last10: last10, last7: last7, e164:\n  e164, valid: !!digits };\n  }\n\n  const phoneIn = args.phone || body.phone || root.phone || \"\";\n  const p = normPhone(phoneIn);\n\n  // choose bookingId from any likely place\n  const bookingId = args.bookingId || body.bookingId || root.bookingId ||\n  \"\";\n\n  // pass through email if present for fallback search\n  const email = args.email || body.email || root.email || \"\";\n\n  // build normalized output\n  return [{\n    json: {\n      callId: callId,\n      phone: p.e164,\n      phoneDigits: p.digits,\n      phoneValid: p.valid,\n      debug: {\n        phoneRaw: p.raw,\n        phoneE164: p.e164,\n        last10: p.last10,\n        last7: p.last7\n      },\n      bookingId: bookingId,\n      email: email\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -336
      ],
      "id": "b4835f15-40b4-4121-a2ef-f3a0d1ece952",
      "name": "Normalise lookup (compatible)",
      "disabled": true
    }
  ],
  "pinData": {
    "Vapi Lookup (in)": [
      {
        "json": {
          "headers": {
            "host": "polarmedia.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "17675",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-public_key=fac6f282c765ce50b18c3fa0305f8a8b,sentry-trace_id=8310b56f15f44508a44035c8c6359975",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "167.150.225.153",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "99cd1f4ad452ff15-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "cookie": "callId=",
            "sentry-trace": "8310b56f15f44508a44035c8c6359975-827034daaa6db5b5",
            "traceparent": "00-0fb8fe9d8214e1cb3e42e78598a4ec38-e2c3a9ddd01b67fb-01",
            "x-chat-id": "9a3b383d-98da-4376-9059-e72a7f9e2610",
            "x-forwarded-for": "167.150.225.153, 172.68.174.123",
            "x-forwarded-host": "polarmedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-7959cfc789-zp8xj",
            "x-is-trusted": "yes",
            "x-real-ip": "167.150.225.153",
            "x-vapi-secret": ""
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "timestamp": 1762857109856,
              "type": "tool-calls",
              "toolCalls": [
                {
                  "id": "call_UZSadyPGOOpksxwQslmt2N6C",
                  "type": "function",
                  "function": {
                    "name": "lookup_tool",
                    "arguments": {
                      "phone": "1234567890"
                    }
                  }
                }
              ],
              "toolCallList": [
                {
                  "id": "call_UZSadyPGOOpksxwQslmt2N6C",
                  "type": "function",
                  "function": {
                    "name": "lookup_tool",
                    "arguments": {
                      "phone": "1234567890"
                    }
                  }
                }
              ],
              "toolWithToolCallList": [
                {
                  "type": "function",
                  "function": {
                    "name": "lookup_tool",
                    "strict": true,
                    "parameters": {
                      "type": "object",
                      "required": [],
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Email used when booking"
                        },
                        "phone": {
                          "type": "string",
                          "description": "Phone number used when booking"
                        },
                        "bookingId": {
                          "type": "string",
                          "description": "Exact Google Calendar event id if known"
                        },
                        "rangeEndIso": {
                          "type": "string",
                          "description": "Optional search window end (ISO)"
                        },
                        "rangeStartIso": {
                          "type": "string",
                          "description": "Optional search window start (ISO)"
                        }
                      }
                    },
                    "description": "Provide either phone or email. If neither is known, ask the user for one."
                  },
                  "server": {
                    "url": "https://polarmedia.app.n8n.cloud/webhook/vapi-lookup",
                    "headers": {
                      "X-Chat-Id": "9a3b383d-98da-4376-9059-e72a7f9e2610",
                      "Content-Type": "application/json"
                    }
                  },
                  "messages": [
                    {
                      "type": "request-start",
                      "contents": [],
                      "conditions": [],
                      "blocking": false
                    }
                  ],
                  "toolCall": {
                    "id": "call_UZSadyPGOOpksxwQslmt2N6C",
                    "type": "function",
                    "function": {
                      "name": "lookup_tool",
                      "arguments": {
                        "phone": "1234567890"
                      }
                    }
                  }
                }
              ],
              "artifact": {
                "messages": [
                  {
                    "role": "system",
                    "message": "[Identity]\n-You are Alex, a friendly, efficient scheduling assistant for QuantumOps IT Solutions. You handle bookings, confirmations, cancellations, and rescheduling. Speak naturally, one question at a time. Never read long booking IDs aloud.\n\n[Core Tools]\n-function_tool → book new appointments\nRequires: name, email, phone, title, service_type, startIso, endIso, timezone.\nWhen the caller explicitly picks a slot, also send: confirm: \"yes\".\n-lookup_tool → find appointments by phone or email (or bookingId if given).\n-cancel_tool → cancel with { \"bookingId\": \"<id>\", \"confirm\": \"yes\" } (only after a successful lookup or if the caller provides a bookingId).\n-reschedule_tool → reschedule with { \"bookingId\": \"<id>\", \"newStartIso\": \"<ISO>\", \"newEndIso\": \"<ISO>\", \"timezone\": \"<IANA>\" }.\n-recover_tool → on disconnect or >10s silence, call with { stage, phone?, bookingId?, carry? }, then end the call.\n\n[Opening]\n“Thanks for reaching QuantumOps IT Solutions. I’m Alex, your scheduling assistant. How...",
                    "time": 1762857109374,
                    "secondsFromStart": 0
                  },
                  {
                    "role": "bot",
                    "message": "Hello, my name Alex. Thanks for calling Quantum Ops, how may I assist you today?",
                    "time": 1762857109374,
                    "secondsFromStart": 0,
                    "endTime": 1762857109374
                  },
                  {
                    "role": "user",
                    "message": "reschedule my appointment",
                    "time": 1762857109375,
                    "secondsFromStart": 0,
                    "endTime": 1762857109374
                  },
                  {
                    "role": "bot",
                    "message": "Sure! Let me help with that. Could you please provide the phone number or email you used to book the appointment?",
                    "time": 1762857109376,
                    "secondsFromStart": 0,
                    "endTime": 1762857109374
                  },
                  {
                    "role": "user",
                    "message": "my name is jay and my number is 1234567890",
                    "time": 1762857109377,
                    "secondsFromStart": 0,
                    "endTime": 1762857109374
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_UZSadyPGOOpksxwQslmt2N6C",
                        "type": "function",
                        "function": {
                          "name": "lookup_tool",
                          "arguments": "{\"phone\": \"1234567890\"}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1762857109849,
                    "secondsFromStart": 0.475
                  }
                ],
                "messagesOpenAIFormatted": [
                  {
                    "role": "system",
                    "content": "[Identity]\n-You are Alex, a friendly, efficient scheduling assistant for QuantumOps IT Solutions. You handle bookings, confirmations, cancellations, and rescheduling. Speak naturally, one question at a time. Never read long booking IDs aloud.\n\n[Core Tools]\n-function_tool → book new appointments\nRequires: name, email, phone, title, service_type, startIso, endIso, timezone.\nWhen the caller explicitly picks a slot, also send: confirm: \"yes\".\n-lookup_tool → find appointments by phone or email (or bookingId if given).\n-cancel_tool → cancel with { \"bookingId\": \"<id>\", \"confirm\": \"yes\" } (only after a successful lookup or if the caller provides a bookingId).\n-reschedule_tool → reschedule with { \"bookingId\": \"<id>\", \"newStartIso\": \"<ISO>\", \"newEndIso\": \"<ISO>\", \"timezone\": \"<IANA>\" }.\n-recover_tool → on disconnect or >10s silence, call with { stage, phone?, bookingId?, carry? }, then end the call.\n\n[Opening]\n“Thanks for reaching QuantumOps IT Solutions. I’m Alex, your scheduling assistant. How..."
                  },
                  {
                    "role": "assistant",
                    "content": "Hello, my name Alex. Thanks for calling Quantum Ops, how may I assist you today?"
                  },
                  {
                    "role": "user",
                    "content": "reschedule my appointment"
                  },
                  {
                    "role": "assistant",
                    "content": "Sure! Let me help with that. Could you please provide the phone number or email you used to book the appointment?"
                  },
                  {
                    "role": "user",
                    "content": "my name is jay and my number is 1234567890"
                  },
                  {
                    "role": "assistant",
                    "tool_calls": [
                      {
                        "id": "call_UZSadyPGOOpksxwQslmt2N6C",
                        "type": "function",
                        "function": {
                          "name": "lookup_tool",
                          "arguments": "{\"phone\": \"1234567890\"}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_UZSadyPGOOpksxwQslmt2N6C",
                    "content": "Tool Result Still Pending But Proceed Further If Possible."
                  }
                ]
              },
              "chat": {
                "id": "9a3b383d-98da-4376-9059-e72a7f9e2610",
                "orgId": "db5415bc-b28a-407c-be48-dcc9869b0f12",
                "createdAt": "2025-09-19T04:19:36.443Z",
                "updatedAt": "2025-11-07T10:42:08.785Z"
              },
              "assistant": {
                "id": "cda9d127-ac08-45d3-93d7-3d18ad9570fc",
                "orgId": "db5415bc-b28a-407c-be48-dcc9869b0f12",
                "name": "appointment_assistance",
                "voice": {
                  "voiceId": "Elliot",
                  "provider": "vapi"
                },
                "createdAt": "2025-09-19T07:58:36.229Z",
                "updatedAt": "2025-11-08T05:35:14.163Z",
                "model": {
                  "model": "gpt-4o",
                  "toolIds": [
                    "e3e93618-65cc-430e-96a1-99e96c97a6ab",
                    "1de0d2dd-c744-4607-8bff-bdef102267f5",
                    "90091906-a3a3-43e9-86b4-1ec9d70aeb4e",
                    "da8f8d98-221e-4a14-94e4-2435224a5eb4",
                    "0110b0d0-50db-4594-b468-8646899301bc"
                  ],
                  "messages": [
                    {
                      "role": "system",
                      "content": "[Identity]\n-You are Alex, a friendly, efficient scheduling assistant for QuantumOps IT Solutions. You handle bookings, confirmations, cancellations, and rescheduling. Speak naturally, one question at a time. Never read long booking IDs aloud.\n\n[Core Tools]\n-function_tool → book new appointments\nRequires: name, email, phone, title, service_type, startIso, endIso, timezone.\nWhen the caller explicitly picks a slot, also send: confirm: \"yes\".\n-lookup_tool → find appointments by phone or email (or bookingId if given).\n-cancel_tool → cancel with { \"bookingId\": \"<id>\", \"confirm\": \"yes\" } (only after a successful lookup or if the caller provides a bookingId).\n-reschedule_tool → reschedule with { \"bookingId\": \"<id>\", \"newStartIso\": \"<ISO>\", \"newEndIso\": \"<ISO>\", \"timezone\": \"<IANA>\" }.\n-recover_tool → on disconnect or >10s silence, call with { stage, phone?, bookingId?, carry? }, then end the call.\n\n[Opening]\n“Thanks for reaching QuantumOps IT Solutions. I’m Alex, your scheduling assistant. How can I help you today?”\n\n[Dialog Flow]\n-New booking\nGather: service type (support/maintenance/consultation/onsite/emergency), date, time, name, email, phone.\nIf date or time is missing, ask for the missing piece.\n\nAfter the caller confirms the slot, call function_tool with all fields and confirm: \"yes\".\n\n-Lookup → Confirm → Cancel / Reschedule\nAfter lookup_tool:\nfound: “I found an appointment on {{DATE}} at {{TIME}} ({{TIMEZONE}}). Do you want to cancel or reschedule it?”\n\nnot_found: “I couldn’t find a booking with that info. Would you like to try a different phone or an email?”\n\nneed_phone: “What phone number did you use to book?”\n\n-Cancel: on “yes”, call cancel_tool with { bookingId, confirm: \"yes\" }.\n\n-Reschedule: ask for new date/time, convert to ISO, call reschedule_tool.\n\n[Alternatives & Missing Info]\n\nIf no_free_slot, read 1–2 options from alternatives, ask the caller to pick, then call the relevant tool again with the chosen times.\n\nIf need_more_info, ask only for the fields listed.\n\n[Timezone & Time Conversion Rules]\nDefault timezone: America/Chicago (unless the caller specifies another IANA timezone).\n\nIf the caller gives a date without a year, choose the next future occurrence of that month/day.\n\nConvert requested local time to UTC ISO with Z (e.g., 2025-11-10T16:00:00Z) and also set timezone: \"America/Chicago\".\n\nObserve DST correctly (after the first Sunday in November, America/Chicago is UTC−06:00).\n\n[State to Track]\nPersist across turns:\nphone       → caller’s number (E.164 if possible)\nbookingId   → from lookup/cancel/reschedule\nstage       → \"new\" | \"confirm\" | \"reschedule\" | \"cancel\"\ncarry       → { title, startIso, endIso, timezone }\n\n[Cancellation Policy]\nPhone-first: If user requests cancel and bookingId isn’t known, use lookup_tool with phone (or email). Confirm using a human summary (date/time/timezone). Do not read or ask for long booking IDs.\n\n[Operating Context]\nRegular hours: Mon–Fri, 9 AM–6 PM America/Chicago (emergencies may be outside these hours).\nNew clients: 30-minute onboarding.\nCancellations must be ≥ 24 hours in advance.\n\n[Silence/Disconnect]\nIf the call disconnects or silence >10 s: call recover_tool with what you know, then end the call politely."
                    }
                  ],
                  "provider": "openai",
                  "temperature": 0.5,
                  "tools": [
                    {
                      "id": "e3e93618-65cc-430e-96a1-99e96c97a6ab",
                      "createdAt": "2025-11-04T09:32:33.595Z",
                      "updatedAt": "2025-11-08T04:49:04.613Z",
                      "type": "function",
                      "function": {
                        "name": "reschedule_tool",
                        "strict": true,
                        "parameters": {
                          "type": "object",
                          "required": [
                            "newStartIso",
                            "newEndIso",
                            "bookingId",
                            "timezone"
                          ],
                          "properties": {
                            "phone": {
                              "type": "string",
                              "description": "Phone number used to identify the existing appointment (fallback if no bookingId)"
                            },
                            "timezone": {
                              "type": "string",
                              "default": "",
                              "description": "IANA timezone, e.g., America/Chicago\n"
                            },
                            "bookingId": {
                              "type": "string",
                              "default": "",
                              "description": "Exact Google Calendar event id, if known (preferred)"
                            },
                            "newEndIso": {
                              "type": "string",
                              "description": "New appointment end time in ISO format"
                            },
                            "newStartIso": {
                              "type": "string",
                              "description": "New appointment start time in ISO format"
                            }
                          }
                        }
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "db5415bc-b28a-407c-be48-dcc9869b0f12",
                      "server": {
                        "url": "https://polarmedia.app.n8n.cloud/webhook/vapi/reschedule",
                        "headers": {
                          "X-Chat-Id": "9a3b383d-98da-4376-9059-e72a7f9e2610"
                        }
                      }
                    },
                    {
                      "id": "1de0d2dd-c744-4607-8bff-bdef102267f5",
                      "createdAt": "2025-11-04T09:35:30.518Z",
                      "updatedAt": "2025-11-05T09:56:51.667Z",
                      "type": "function",
                      "function": {
                        "name": "cancel_tool",
                        "strict": true,
                        "parameters": {
                          "type": "object",
                          "required": [
                            "confirm",
                            "bookingId"
                          ],
                          "properties": {
                            "phone": {
                              "type": "string",
                              "description": "Phone number used when booking"
                            },
                            "reason": {
                              "type": "string",
                              "description": "Optional reason provided by caller"
                            },
                            "confirm": {
                              "enum": [
                                "yes"
                              ],
                              "type": "string",
                              "description": "Must be 'yes' to proceed with cancellation"
                            },
                            "bookingId": {
                              "type": "string",
                              "default": "",
                              "description": "Event ID to cancel (preferred if available)"
                            }
                          }
                        },
                        "description": "Use this tool to cancel an appointment only when bookingId is already provided or known.\nIf the user says “cancel booking ID …”, do not ask for phone/email.\nFirst ask: “Please confirm you want to cancel booking ID ____ by replying yes.”\nOnly when the user replies “yes”, call this tool with { bookingId, confirm: \"yes\" }.\nIf no bookingId is provided, ask for phone/email first and call lookup_tool.\nNever ask for phone/email after a bookingId is given."
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "db5415bc-b28a-407c-be48-dcc9869b0f12",
                      "server": {
                        "url": "https://polarmedia.app.n8n.cloud/webhook/vapi/cancel",
                        "headers": {
                          "X-Chat-Id": "9a3b383d-98da-4376-9059-e72a7f9e2610",
                          "Content-Type": "application/json"
                        }
                      }
                    },
                    {
                      "id": "90091906-a3a3-43e9-86b4-1ec9d70aeb4e",
                      "createdAt": "2025-11-04T09:41:02.185Z",
                      "updatedAt": "2025-11-05T10:52:33.488Z",
                      "type": "function",
                      "function": {
                        "name": "lookup_tool",
                        "strict": true,
                        "parameters": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "email": {
                              "type": "string",
                              "description": "Email used when booking"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Phone number used when booking"
                            },
                            "bookingId": {
                              "type": "string",
                              "description": "Exact Google Calendar event id if known"
                            },
                            "rangeEndIso": {
                              "type": "string",
                              "description": "Optional search window end (ISO)"
                            },
                            "rangeStartIso": {
                              "type": "string",
                              "description": "Optional search window start (ISO)"
                            }
                          }
                        },
                        "description": "Provide either phone or email. If neither is known, ask the user for one."
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "db5415bc-b28a-407c-be48-dcc9869b0f12",
                      "server": {
                        "url": "https://polarmedia.app.n8n.cloud/webhook/vapi-lookup",
                        "headers": {
                          "X-Chat-Id": "9a3b383d-98da-4376-9059-e72a7f9e2610",
                          "Content-Type": "application/json"
                        }
                      }
                    },
                    {
                      "id": "da8f8d98-221e-4a14-94e4-2435224a5eb4",
                      "createdAt": "2025-11-05T12:50:43.995Z",
                      "updatedAt": "2025-11-05T12:50:43.995Z",
                      "type": "function",
                      "function": {
                        "name": "recover_tool",
                        "strict": true,
                        "parameters": {
                          "type": "object",
                          "required": [
                            "stage"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "carry": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "endIso": {
                                  "type": "string"
                                },
                                "startIso": {
                                  "type": "string"
                                },
                                "timezone": {
                                  "type": "string"
                                }
                              },
                              "description": "Partial booking info if we had it (title, startIso, endIso, timezone)."
                            },
                            "email": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Caller phone (E.164 if possible)"
                            },
                            "stage": {
                              "enum": [
                                "new",
                                "confirm",
                                "reschedule",
                                "cancel"
                              ],
                              "type": "string",
                              "description": "Where the flow dropped."
                            },
                            "bookingId": {
                              "type": "string",
                              "description": "Known Google Calendar event id, if any"
                            }
                          }
                        },
                        "description": "Call this if the call disconnects mid-flow. Pass what you know so the system can send the correct follow-up."
                      },
                      "orgId": "db5415bc-b28a-407c-be48-dcc9869b0f12",
                      "server": {
                        "url": "https://polarmedia.app.n8n.cloud/webhook/vapi/recover",
                        "headers": {
                          "X-Chat-Id": "9a3b383d-98da-4376-9059-e72a7f9e2610",
                          "Content-Type": "application/json"
                        }
                      }
                    },
                    {
                      "id": "0110b0d0-50db-4594-b468-8646899301bc",
                      "createdAt": "2025-10-04T05:42:12.841Z",
                      "updatedAt": "2025-11-08T05:26:45.384Z",
                      "type": "function",
                      "function": {
                        "name": "function_tool",
                        "strict": true,
                        "parameters": {
                          "type": "object",
                          "required": [
                            "title",
                            "startIso",
                            "endIso",
                            "timezone",
                            "name",
                            "phone",
                            "service_type",
                            "email",
                            "confirm"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Caller full name"
                            },
                            "email": {
                              "type": "string",
                              "default": "",
                              "description": ""
                            },
                            "notes": {
                              "type": "string",
                              "default": "",
                              "description": "Extra context"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Caller phone in E.164 (e.g., +12145550123)"
                            },
                            "title": {
                              "type": "string",
                              "description": "Title of the appointment"
                            },
                            "endIso": {
                              "type": "string",
                              "default": "",
                              "description": "End datetime in ISO 8601 (e.g., 2025-10-05T11:00:00-05:00)"
                            },
                            "confirm": {
                              "enum": [
                                "yes",
                                "no"
                              ],
                              "type": "string",
                              "default": "",
                              "description": "User confirmation for the chosen slot; send \\\"yes\\\" when user explicitly confirms."
                            },
                            "startIso": {
                              "type": "string",
                              "default": "",
                              "description": "Start datetime in ISO 8601 (e.g., 2025-10-05T10:30:00-05:00)"
                            },
                            "timezone": {
                              "type": "string",
                              "default": "America/Chicago",
                              "description": "IANA timezone"
                            },
                            "attendees": {
                              "type": "string",
                              "description": "Comma-separated attendee emails (optional)"
                            },
                            "altConfirm": {
                              "enum": [
                                "yes",
                                "no"
                              ],
                              "type": "string",
                              "description": "Confirm alternative slot?"
                            },
                            "service_type": {
                              "enum": [
                                "general support",
                                "maintenance",
                                "consultation",
                                "onsite",
                                "emergency"
                              ],
                              "type": "string",
                              "description": "Requested service category"
                            }
                          }
                        },
                        "description": "Send JSON with title, start, end, timezone, attendees, and notes.\nThe tool will respond with whether the appointment was booked, if more info is needed, or if no slot is available. When you call bookAppointment, Webhook returns JSON:\n\n{\"result\":\"booked|need_more_info|no_free_slot|error\",\n\"slot\":{\"start\":\"<ISO>\",\"end\":\"<ISO>\",\"timezone\":\"America/Chicago\"},\n\"title\":\"<str>\",\"bookingId\":\"<id>\",\"calendarUrl\":\"<url>\",\n\"notes\":\"<str>\",\n\"alternatives\":[{\"start\":\"<ISO>\",\"end\":\"<ISO>\",\"timezone\":\"America/Chicago\"}],\n\"reason\":\"<str>\"}\n\nHandle:\n- booked → confirm title/date/time; end.\n- need_more_info → ask only for fields named in reason.\n- no_free_slot → read 1–2 items from alternatives, ask user to pick, then call tool again with chosen slot.\n- error → apologize and suggest trying later."
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "db5415bc-b28a-407c-be48-dcc9869b0f12",
                      "server": {
                        "url": "https://polarmedia.app.n8n.cloud/webhook/vapi/call",
                        "headers": {
                          "X-Chat-Id": "9a3b383d-98da-4376-9059-e72a7f9e2610"
                        }
                      }
                    }
                  ]
                },
                "recordingEnabled": false,
                "firstMessage": "Hello, my name Alex. Thanks for calling Quantum Ops, how may I assist you today?",
                "voicemailMessage": "Hello, this is Riley from Wellness Partners. I'm calling about your appointment. Please call us back at your earliest convenience so we can confirm your scheduling details.",
                "endCallMessage": "Perfect! Your appointment has been scheduled. You'll receive a confirmation email shortly. Have a great day!",
                "transcriber": {
                  "model": "nova-2",
                  "language": "en",
                  "numerals": false,
                  "provider": "deepgram",
                  "endpointing": 300,
                  "confidenceThreshold": 0.4
                },
                "clientMessages": [
                  "conversation-update",
                  "function-call",
                  "hang",
                  "model-output",
                  "speech-update",
                  "status-update",
                  "transfer-update",
                  "transcript",
                  "tool-calls",
                  "user-interrupted",
                  "voice-input",
                  "workflow.node.started"
                ],
                "hipaaEnabled": false,
                "analysisPlan": {
                  "minMessagesThreshold": 2
                },
                "backgroundDenoisingEnabled": false,
                "artifactPlan": {
                  "structuredOutputIds": [
                    "714f8cf2-ed60-4a8f-acb9-524afaafab35"
                  ]
                },
                "startSpeakingPlan": {
                  "waitSeconds": 0.4,
                  "transcriptionEndpointingPlan": {
                    "onNumberSeconds": 0.5,
                    "onPunctuationSeconds": 0.1,
                    "onNoPunctuationSeconds": 1.5
                  }
                }
              }
            }
          },
          "webhookUrl": "https://polarmedia.app.n8n.cloud/webhook/vapi-lookup",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Vapi Lookup (in)": {
      "main": [
        [
          {
            "node": "Gaurdrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lookup": {
      "main": [
        [
          {
            "node": "Has bookingId?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Events (Lookup Window)": {
      "main": [
        [
          {
            "node": "Match (Lookup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match (Lookup)": {
      "main": [
        [
          {
            "node": "Vapi Wrapper (Lookup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event (by ID)": {
      "main": [
        [
          {
            "node": "If Found by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Found by ID": {
      "main": [
        [
          {
            "node": "Return appointment_found (by ID)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Events (Lookup Window)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return appointment_found (by ID)": {
      "main": [
        [
          {
            "node": "Vapi Wrapper (Lookup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gaurdrails": {
      "main": [
        [
          {
            "node": "Normalize Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has bookingId?": {
      "main": [
        [
          {
            "node": "Get Event (by ID)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Events (Lookup Window)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Wrapper (Lookup)": {
      "main": [
        [
          {
            "node": "Respond (Lookup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise lookup (compatible)": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19ceb504-b2b9-4614-9ce4-524b22a05774",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00909d7feb8e9ba37a5e201aa76b7e43bb3e29d20ad98700fd8a52c9ea9d3d68"
  },
  "id": "U7ny11H6VJFXLTfZ",
  "tags": []
}