Appointment_scheduler/Appointment Scheduling AI_v.0.0.3_vapi_recovery.json
{
  "name": "Appointment Scheduling AI_v.0.0.3_vapi_recovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi/recover",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cd3574fb-86ae-4e1f-a5e7-31d99c7899bc",
      "name": "Webhook (recover)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -704,
        -16
      ],
      "webhookId": "a759b7a7-f679-4a7f-b7c4-1cbad0d0840e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mtbZQ3YR4VQJHsPz",
          "name": "Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Decide Recovery (SIGNED LINKS)\nconst SECRET = 'f2db4b5654536ac52e6e91ff2756b01179bd04a7d4032172ec07312a339bdcb5';\nconst TOKEN_TTL_SEC = 900; // 15 minutes\n\nconst inb = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst STAGE = String(inb.stage || '').toLowerCase();\nconst phoneRaw = String(inb.phone || '').trim();\nconst bookingId = String(inb.bookingId || '').trim();\nconst name = String(inb.name || '').trim();\nconst email = String(inb.email || '').trim();\nconst carry = inb.carry || {};\n\n// ============================================\n// PHONE NORMALIZATION FUNCTION\n// ============================================\nfunction normalizePhone(raw, defaultCountry = 'US') {\n  if (!raw || typeof raw !== 'string') {\n    return { e164: '', digits: '', isValid: false };\n  }\n\n  let cleaned = raw.trim();\n  const hasPlus = cleaned.startsWith('+');\n  const digits = cleaned.replace(/\\D/g, '');\n\n  if (digits.length < 7) {\n    return { e164: '', digits: digits, isValid: false };\n  }\n\n  if (hasPlus) {\n    const e164 = '+' + digits;\n    if (digits.length > 15) {\n      return { e164, digits, isValid: false };\n    }\n    return { e164, digits, isValid: true };\n  }\n\n  let e164;\n  if (defaultCountry === 'US' || defaultCountry === 'CA') {\n    if (digits.length === 10) {\n      e164 = '+1' + digits;\n    } else if (digits.length === 11 && digits[0] === '1') {\n      e164 = '+' + digits;\n    } else {\n      return { e164: '', digits, isValid: false };\n    }\n  } else if (defaultCountry === 'IN') {\n    if (digits.length === 10) {\n      e164 = '+91' + digits;\n    } else if (digits.length === 12 && digits.startsWith('91')) {\n      e164 = '+' + digits;\n    } else {\n      return { e164: '', digits, isValid: false };\n    }\n  } else {\n    return { e164: '', digits, isValid: false };\n  }\n\n  return { e164, digits: e164.substring(1), isValid: true };\n}\n\n// Normalize phone\nconst phoneNormalized = normalizePhone(phoneRaw, 'US'); // 👈 Change to 'IN' if you're in India\nconst to = phoneNormalized.isValid ? phoneNormalized.e164 : '';\n\nconst crypto = require('crypto');\nconst b64url = (buf) => buf.toString('base64').replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=+$/,'');\n\nfunction signJWT(payload, secret, ttlSec = TOKEN_TTL_SEC) {\n  const header = { alg: 'HS256', typ: 'JWT' };\n  const now = Math.floor(Date.now()/1000);\n  const body = { ...payload, iat: now, exp: now + ttlSec };\n  const encHeader = b64url(Buffer.from(JSON.stringify(header)));\n  const encPayload = b64url(Buffer.from(JSON.stringify(body)));\n  const data = encHeader + '.' + encPayload;\n  const sig = b64url(crypto.createHmac('sha256', secret).update(data).digest());\n  return data + '.' + sig;\n}\n\nconst SBASE = 'https://polarmedia.app.n8n.cloud/webhook/s';\n\nfunction signedUrl(action, extra) {\n  const token = signJWT({ action, ...extra }, SECRET);\n  return `${SBASE}/${action}?t=${encodeURIComponent(token)}`;\n}\n\nconst resumeUrl = signedUrl('resume', { phone: to || undefined });\nconst cancelUrl = bookingId \n  ? signedUrl('cancel', { bookingId, phone: to || undefined }) \n  : signedUrl('cancel', { phone: to || undefined });\nconst rescheduleUrl = bookingId \n  ? signedUrl('reschedule', { bookingId, phone: to || undefined }) \n  : signedUrl('reschedule', { phone: to || undefined });\nconst confirmUrl = bookingId \n  ? signedUrl('confirm', { bookingId, phone: to || undefined }) \n  : '';\n\n// -------- existing stage-specific prose (kept, but we’ll override with friendly text below) --------\nfunction lineResume(c) {\n  const t = c.title ? `\"${c.title}\"` : 'your appointment';\n  const when = (c.startIso && c.timezone) ? ` for ${c.startIso} ${c.timezone}` : '';\n  return `You can resume ${t}${when}: ${resumeUrl}`;\n}\nfunction lineCancel()   { return `To cancel now, tap: ${cancelUrl}`; }\nfunction lineResched()  { return `To reschedule, tap: ${rescheduleUrl}`; }\n\nlet body;\nswitch (STAGE) {\n  case 'confirm':\n    body = [`We got disconnected while confirming your slot.`, lineResume(carry), `If you meant to cancel instead: ${cancelUrl}`].join(' ');\n    break;\n  case 'reschedule':\n    body = [`We got disconnected during rescheduling.`, lineResched(), `Or resume: ${resumeUrl}`].join(' ');\n    break;\n  case 'cancel':\n    body = [`We got disconnected during cancellation.`, lineCancel(), carry.title ? `(${carry.title})` : ''].join(' ');\n    break;\n  case 'new':\n  default:\n    body = [`We got disconnected while scheduling.`, lineResume(carry), `Need to reschedule or cancel an existing booking? Use: ${resumeUrl}`].join(' ');\n    break;\n}\n\n// -------- NEW: friendly labeled message (short, no prose, no JSON dump) --------\nconst lines = [];\nif (confirmUrl)    lines.push(`Confirm: ${confirmUrl}`);\nif (rescheduleUrl) lines.push(`Reschedule: ${rescheduleUrl}`);\nif (cancelUrl)     lines.push(`Cancel: ${cancelUrl}`);\nconst friendly = `Manage your appointment:\\n` + lines.join('\\n');\n\n// Use the friendly message for SMS (keeps API response clean)\nconst action = to ? 'send_sms' : 'silent_ok';\nconst smsBody = to ? friendly : null;\n\nreturn [{\n  json: {\n    action,\n    sms: to ? { to, body: smsBody } : null,\n    links: { confirmUrl, cancelUrl, rescheduleUrl, resumeUrl },\n    message: 'Recovery instructions (signed) prepared.'\n  }\n}];"
      },
      "id": "c9c4f41a-75a1-4c31-9f3e-ba926fe801e0",
      "name": "Code (Decide Recovery)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f7eeb7c2-660a-4bc9-bd4f-b33426cb0c6c",
              "leftValue": "={{$json.action === 'send_sms'}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e502387-8b62-4b8e-b689-0c488aa3300a",
      "name": "IF (Need SMS?)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ result: 'ok', sent: $json.action === 'send_sms', links: $json.links }) }}",
        "options": {}
      },
      "id": "f21a4f61-659b-4d7a-90ba-6c3315d4ef5b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        32,
        -192
      ]
    },
    {
      "parameters": {
        "from": "+12542800366",
        "to": "={{$json.sms.to}}",
        "message": "={{$json.sms.body}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        32,
        96
      ],
      "id": "0bd823f9-d711-4e56-91c3-0768c2e4d1ea",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "seXtNTssV0vIqTCu",
          "name": "Twilio account Full"
        }
      }
    }
  ],
  "pinData": {
    "Webhook (recover)": [
      {
        "json": {
          "headers": {
            "host": "polarmedia.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "content-length": "132",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2405:201:c001:7061:f80f:665f:5896:212e",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "99a2c95b170169b3-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2405:201:c001:7061:f80f:665f:5896:212e, 162.158.227.47",
            "x-forwarded-host": "polarmedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-7959cfc789-ngln9",
            "x-is-trusted": "yes",
            "x-real-ip": "2405:201:c001:7061:f80f:665f:5896:212e"
          },
          "params": {},
          "query": {},
          "body": {
            "stage": "reschedule",
            "links": [
              "reschedule",
              "cancel"
            ],
            "bookingId": "TEST_DEMO_123",
            "phone": "+919999999999",
            "timezone": "Asia/Kolkata"
          },
          "webhookUrl": "https://polarmedia.app.n8n.cloud/webhook/vapi/recover",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook (recover)": {
      "main": [
        [
          {
            "node": "Code (Decide Recovery)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Decide Recovery)": {
      "main": [
        [
          {
            "node": "IF (Need SMS?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Need SMS?)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05fbef94-674c-4ab2-96e3-2076b701970c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00909d7feb8e9ba37a5e201aa76b7e43bb3e29d20ad98700fd8a52c9ea9d3d68"
  },
  "id": "T99jvh53fRMKCWUY",
  "tags": []
}