Appointment_scheduler/workflows/n8n/deprecated/Smart Reminder System - 24h.json
{
  "name": "Smart Reminder System - 24h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "6e38d839-7831-4590-a31b-4d87b2dd47f0",
      "name": "Schedule Trigger - Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate tomorrow's date range\nconst now = new Date();\nconst tomorrow = new Date(now);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\n// Start of tomorrow (00:00:00)\nconst tomorrowStart = new Date(tomorrow);\ntomorrowStart.setHours(0, 0, 0, 0);\n\n// End of tomorrow (23:59:59)\nconst tomorrowEnd = new Date(tomorrow);\ntomorrowEnd.setHours(23, 59, 59, 999);\n\n// Format for Google Calendar API (ISO 8601)\nconst timeMin = tomorrowStart.toISOString();\nconst timeMax = tomorrowEnd.toISOString();\n\nreturn {\n  timeMin,\n  timeMax,\n  tomorrowDate: tomorrow.toISOString().split('T')[0]\n};"
      },
      "id": "d96ac80c-d3b2-42d4-ab43-a168d2ede5dd",
      "name": "Calculate Tomorrow's Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        112
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "quantumops9@gmail.com",
          "mode": "list",
          "cachedResultName": "quantumops9@gmail.com"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ $json.timeMax }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "47f6bd4a-4434-4a2b-ac50-ca6294da10e7",
      "name": "Get Tomorrow's Appointments",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -1104,
        112
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "q8VNLUCeX67n7Bbs",
          "name": "Qops"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter and extract appointment data\n  const items = $input.all();\n  const appointments = [];\n\n  for (const item of items) {\n    const event = item.json;\n\n    // Skip if no start time or already cancelled\n    if (!event.start || !event.start.dateTime || event.status === 'cancelled') {\n      continue;\n    }\n\n    // Extract phone, name, and email from description\n    let phone = '';\n    let name = '';\n    let email = '';\n\n    // Try to get data from description\n    if (event.description) {\n      const phoneMatch =\n  event.description.match(/(?:phone|Phone|PHONE|tel|Tel):\\s*([+\\d\\s\\-()]+)/);\n      if (phoneMatch) {\n        phone = phoneMatch[1].replace(/[^\\d+]/g, ''); // Clean phone number\n      }\n\n      const nameMatch = event.description.match(/(?:name|Name|NAME|Customer):\\s*([^\\n]+)/);\n      if (nameMatch) {\n        name = nameMatch[1].trim();\n      }\n\n      // NEW: Extract email\n      const emailMatch = event.description.match(/(?:email|Email|EMAIL):\\s*([^\\n]+)/);\n      if (emailMatch) {\n        email = emailMatch[1].trim();\n      }\n    }\n\n    // Fallback to event summary for name\n    if (!name && event.summary) {\n      name = event.summary.split('-')[0].trim();\n    }\n\n    // Skip if no phone number found\n    if (!phone) {\n      console.log(`Skipping event ${event.id} - no phone number found`);\n      continue;\n    }\n\n    // Extract service type\n    let serviceType = 'appointment';\n    if (event.summary) {\n      const lower = event.summary.toLowerCase();\n      if (lower.includes('consultation')) serviceType = 'consultation';\n      else if (lower.includes('maintenance')) serviceType = 'maintenance';\n      else if (lower.includes('support')) serviceType = 'support';\n      else if (lower.includes('onsite')) serviceType = 'onsite';\n      else if (lower.includes('emergency')) serviceType = 'emergency';\n    }\n\n    appointments.push({\n      bookingId: event.id,\n      phone: phone,\n      name: name,\n      email: email,  // NEW: Include email\n      appointmentTime: event.start.dateTime,\n      serviceType: serviceType,\n      summary: event.summary || 'Appointment',\n      reminderType: '24h'\n    });\n  }\n\n  console.log(`Found ${appointments.length} appointments for tomorrow`);\n  return appointments;"
      },
      "id": "e7bb05ba-b985-4661-8672-805c90bb18d4",
      "name": "Extract Appointment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o0uh4psHE3G21bGikv76wP6Jufj0TKz_W-VQv1QxSAc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reminder_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o0uh4psHE3G21bGikv76wP6Jufj0TKz_W-VQv1QxSAc/edit#gid=0"
        },
        "options": {}
      },
      "id": "1817c704-da33-47f8-a2c3-20529fe21999",
      "name": "Get All Sent Reminders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        -656,
        112
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PQRbHs2eHA4g1ECp",
          "name": "My_Qops_Mail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get current appointment from Extract Appointment Data node\nconst appointment = $('Extract Appointment Data').item.json;\n\n// Get all reminder log rows\nconst allReminders = $input.all();\n\n// Check if 24h reminder already sent for this booking\nlet reminderFound = false;\n\nfor (const item of allReminders) {\n  const row = item.json;\n  \n  // Match on bookingId AND reminderType\n  if (row.bookingId === appointment.bookingId && \n      row.reminderType === '24h') {\n    reminderFound = true;\n    console.log(`24h reminder already sent for booking: ${appointment.bookingId}`);\n    break;\n  }\n}\n\n// Return appointment data with check result\nreturn {\n  ...appointment,\n  rowCount: reminderFound ? 1 : 0\n};"
      },
      "id": "39003501-8a3e-4c18-8eeb-f6ffbcfe85e6",
      "name": "Check If 24h Reminder Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "reminder-not-sent",
              "leftValue": "={{ $json.rowCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "568bf706-4f5e-4a3f-b460-fe854cf0a2bd",
      "name": "If Reminder Not Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format appointment time for SMS\n  const appointmentTime = new Date($json.appointmentTime);\n\n  // Format time\n  const timeFormatted = appointmentTime.toLocaleTimeString('en-US', {\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n    timeZone: 'America/Chicago'\n  });\n\n  // Format date\n  const dateFormatted = appointmentTime.toLocaleDateString('en-US', {\n    month: 'long',\n    day: 'numeric',\n    timeZone: 'America/Chicago'\n  });\n\n  // Build SMS message\n  const message = `Hi ${$json.name}!\n\n  Reminder: You have a ${$json.serviceType} appointment tomorrow (${dateFormatted}) at ${timeFormatted}.\n\n  Need to reschedule or cancel? Call us at +14694365607.\n\n  - Alex (Your appointment assistant)`;\n\n  return {\n    ...$json,\n    smsMessage: message,\n    timeFormatted: timeFormatted,\n    dateFormatted: dateFormatted\n  };"
      },
      "id": "22684ebf-6b44-4339-9ff1-21390c856c87",
      "name": "Format SMS Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "from": "+14694365607",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.smsMessage }}",
        "options": {}
      },
      "id": "ff0a2bdd-fcc0-4ca5-a6bd-7b3f1142b6b2",
      "name": "Send SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "credentials": {
        "twilioApi": {
          "id": "seXtNTssV0vIqTCu",
          "name": "Twilio account Full"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o0uh4psHE3G21bGikv76wP6Jufj0TKz_W-VQv1QxSAc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reminder_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o0uh4psHE3G21bGikv76wP6Jufj0TKz_W-VQv1QxSAc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingId": "={{ $json.bookingId }}",
            "phone": "={{ $json.phone }}",
            "name": "={{ $json.name }}",
            "appointmentTime": "={{ $json.appointmentTime }}",
            "status": "sent"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "bookingId",
              "displayName": "bookingId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "appointmentTime",
              "displayName": "appointmentTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reminderType",
              "displayName": "reminderType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentAt",
              "displayName": "sentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ed15c2e3-c62e-4724-9dcc-a011870b9889",
      "name": "Log Sent Reminder",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        624,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PQRbHs2eHA4g1ECp",
          "name": "My_Qops_Mail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original appointment data from Format SMS Message node\n  const appointmentData = $('Format SMS Message').item.json;\n\n  // Get the Twilio response from current input\n  const twilioResponse = $input.item.json;\n\n  // Merge both together\n  return {\n    bookingId: appointmentData.bookingId,\n    phone: appointmentData.phone,\n    name: appointmentData.name,\n    appointmentTime: appointmentData.appointmentTime,\n    reminderType: appointmentData.reminderType,\n    sentAt: new Date().toISOString(),\n    status: twilioResponse.status === 'queued' ? 'sent' : twilioResponse.status,\n    twilioSid: twilioResponse.sid\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        64
      ],
      "id": "3b7fd024-129d-4837-be6d-1cf1654c1cde",
      "name": "Prepare Log Data"
    },
    {
      "parameters": {
        "jsCode": "// Get appointment data from Format SMS Message node\n  const appointment = $('Format SMS Message').item.json;\n\n  // Format date and time nicely for email\n  const appointmentTime = new Date(appointment.appointmentTime);\n\n  const formattedDate = appointmentTime.toLocaleDateString('en-US', {\n    weekday: 'long',\n    year: 'numeric',\n    month: 'long',\n    day: 'numeric',\n    timeZone: 'America/Chicago'\n  });\n\n  const formattedTime = appointmentTime.toLocaleTimeString('en-US', {\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n    timeZone: 'America/Chicago'\n  });\n\n  // Create HTML email\n  const emailHTML = `<!DOCTYPE html>\n  <html>\n  <head>\n      <meta charset=\"UTF-8\">\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  </head>\n  <body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: \n  #f4f4f4;\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f4f4f4; \n  padding: 20px;\">\n          <tr>\n              <td align=\"center\">\n                  <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" \n  style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden;\">\n                      \n                      <tr>\n                          <td style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2\n   100%); padding: 30px; text-align: center;\">\n                              <h1 style=\"color: #ffffff; margin: 0; font-size: 24px;\">⏰ \n  Appointment Reminder</h1>\n                          </td>\n                      </tr>\n                      \n                      <tr>\n                          <td style=\"padding: 30px;\">\n                              <p style=\"font-size: 16px; color: #333333; margin: 0 0 20px \n  0;\">\n                                  Hi <strong>${appointment.name}</strong>,\n                              </p>\n                              \n                              <p style=\"font-size: 16px; color: #333333; margin: 0 0 20px \n  0;\">\n                                  This is a friendly reminder about your upcoming \n  appointment:\n                              </p>\n                              \n                              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" \n  style=\"background-color: #f8f9fa; border-left: 4px solid #667eea; margin-bottom: 20px;\">\n                                  <tr>\n                                      <td style=\"padding: 20px;\">\n                                          <p style=\"margin: 0 0 10px \n  0;\"><strong>Date:</strong> ${formattedDate}</p>\n                                          <p style=\"margin: 0 0 10px \n  0;\"><strong>Time:</strong> ${formattedTime}</p>\n                                          <p style=\"margin: 0;\"><strong>Service:</strong> \n  ${appointment.serviceType || 'Appointment'}</p>\n                                      </td>\n                                  </tr>\n                              </table>\n                              \n                              <p style=\"font-size: 14px; color: #666666; margin: 0 0 20px \n  0;\">\n                                  We look forward to seeing you! If you need to reschedule, \n  please call us at \n                                  <a href=\"tel:+14694365607\" style=\"color: #667eea; \n  text-decoration: none;\">+1 (469) 436-5607</a>\n                              </p>\n                          </td>\n                      </tr>\n                      \n                      <tr>\n                          <td style=\"background-color: #f8f9fa; padding: 20px; text-align: \n  center; border-top: 1px solid #e9ecef;\">\n                              <p style=\"margin: 0; font-size: 12px; color: #999999;\">\n                                  This is an automated reminder. Please do not reply to this\n   email.\n                              </p>\n                          </td>\n                      </tr>\n                      \n                  </table>\n              </td>\n          </tr>\n      </table>\n  </body>\n  </html>`;\n\n  // Pass through all data plus email HTML\n  return {\n    ...$input.item.json,  // Pass through Twilio response\n    ...appointment,        // Pass through appointment data\n    emailHTML: emailHTML,\n    emailSubject: `Reminder: Appointment tomorrow at ${formattedTime}`\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -176
      ],
      "id": "aa623e2a-cf98-45a2-9313-815beb9d51b1",
      "name": "Generate Email HTML"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailHTML }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        -176
      ],
      "id": "24fc26f8-ffec-4c83-98c7-c624935cebfa",
      "name": "Send Email Reminder",
      "webhookId": "8e9af38f-c2c1-4aa7-be38-4b0ea09d1db4",
      "credentials": {
        "gmailOAuth2": {
          "id": "rSdKnv6MNyx1KvAc",
          "name": "My_gmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger - Daily 9 AM": {
      "main": [
        [
          {
            "node": "Calculate Tomorrow's Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Tomorrow's Date Range": {
      "main": [
        [
          {
            "node": "Get Tomorrow's Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tomorrow's Appointments": {
      "main": [
        [
          {
            "node": "Extract Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Appointment Data": {
      "main": [
        [
          {
            "node": "Get All Sent Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Sent Reminders": {
      "main": [
        [
          {
            "node": "Check If 24h Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If 24h Reminder Sent": {
      "main": [
        [
          {
            "node": "If Reminder Not Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reminder Not Sent": {
      "main": [
        [
          {
            "node": "Format SMS Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format SMS Message": {
      "main": [
        [
          {
            "node": "Send SMS Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Reminder": {
      "main": [
        [
          {
            "node": "Generate Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Log Sent Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email HTML": {
      "main": [
        [
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reminder": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9de66b5c-6a5a-419b-8e05-02d6dbe26ef4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00909d7feb8e9ba37a5e201aa76b7e43bb3e29d20ad98700fd8a52c9ea9d3d68"
  },
  "id": "Gwy6vv82jv3k9xWP",
  "tags": []
}